body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.chat-widget-icon {
  background: #4a86ff;
  display: inline-flex;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 64px;
  height: 64px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.chatui-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

.button-chat {
  display: flex;
  padding: 12px;
  overflow-x: auto;
}

.button-chat::-webkit-scrollbar{
  display: none;
}